<div class="jumbotron">
    <h1>Work Process</h1>
    <p class="lead">1. 워드(docx)파일을 선택 후 Html로 변환<br /><spna class="text-info">반드시 지정된 양식 파일만 작업하시기 바랍니다 ^^</spna></p>
    <p class="lead">2. 변환된 Html을 확인 후 DataBase에 저장</p>
    <a href="/Convert" class="btn btn-primary btn-lg">Convert</a>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>OpenXml</h3>
        <p>
            Word파일을 Html로 Convert하기 위해 DocumentFormat.OpenXml와 OpenXmlPowerTools를 참조
        </p>
    </div>
    <div class="col-md-3">
        <h3>HtmlAgilityPack</h3>
        <p>
            Html구문을 스크래이핑 하기 위해 사용
        </p>
    </div>
    <div class="col-md-3">
        <h3>Dapper</h3>
        <p>
            Object와 Relation DB를 Mapping 해주는 ORM Tool
        </p>
    </div>
    <div class="col-md-3">
        <h3>Json Web Editor</h3>
        <p>
            문서 스키마를 정의하는 Json파일을 웹 상에서 수정하기 위해 사용
        </p>
    </div>
</div>